a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

body {
    margin: 0;
    background: hsl(0, 41%, 97%);
    white-space: nowrap;
    /* background: hsl(0, 41%, 97%); */
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, cantarell, helvetica neue, ubuntu, sans-serif;
}

.fixed {
    width: 80px;
    height: 100px;
    background: url() no-repeat center;
    background-size: cover;
    position: fixed;
    bottom: 40px;
    right: 30px;
}

#app {
    width: 100%;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(121, 146, 185, .54);
}

.ocean {
    width: 100%;
    height: 300px;
    background-size: cover;
}

.black {
    width: 100%;
    height: 300px;
    background: rgba(0, 0, 0, 0.37);
}

nav {
    width: 100%;
    height: 70px;
}

.search {
    width: 50%;
    height: auto;
    margin-top: 120px;
    border-radius: 6px;
}

.search-font {
    width: 650px;
    height: 50px;
    font-size: 30px;
    color: white;
    margin: 0 auto;
    letter-spacing: 1.2px;
}

.search-box {
    width: 650px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
}

.search-box input {
    width: 100%;
    height: 100%;
    outline: none;
    border: 0px solid;
    text-indent: 20px;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 4%), 0 4px 16px 0 rgb(44 50 65 / 8%);
}

.search-box button {
    width: 32px;
    height: 32px;
    border: none;
    position: absolute;
    right: 20px;
    background: url(../img/search.png)no-repeat;
}

#app>div,
nav {
    position: absolute;
    top: 0;
}

nav img {
    width: 50px;
    height: 50px;
    float: left;
}

nav>img {
    margin-left: 40px;
    margin-top: 20px;
}

.user img {
    border-radius: 50%;
    border: 3px white solid;
    box-shadow: 0 2px 4px 0 rgba(121, 146, 185, .54);
}

.user {
    float: right;
    position: absolute;
    right: 60px;
    margin-top: 20px;
}

.select {
    width: 100%;
    height: auto;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.select a {
    color: #5e5e5e;
    font-size: 19px;
    font-weight: 600;
    margin-right: 20px;
    text-align: center;
    flex-wrap: nowrap;
}

@media screen and (max-width: 700px) {
    .select {
        flex-direction: column;
        width: 80%;
        margin: 20px auto;
        background-color: rgb(49, 49, 49);
        border-radius: 6px;
        padding: 10px 0 10px 0;
    }
    .select>a {
        flex-direction: column;
        margin: 5px auto;
    }
    .search-box {
        width: 100%;
    }
    .search-font {
        width: 100%;
    }
    .right {
        margin: 20px auto;
        padding-left: 0;
    }
    .list-1,
    .list-2 {
        height: 170px;
        margin-left: 0;
    }
    .overflow-y {
        width: 70%;
        height: 100px;
    }
    .fixed {
        display: none;
    }
    .list-title {
        margin: 0;
    }
    .myClass {
        top: 10px;
        font-size: 15px;
        left: 10px;
    }
}

.top {
    width: 90%;
    margin: 20px auto;
    height: 400px;
    box-sizing: border-box;
    padding: 20px 50px;
    display: flex;
}

.top-left {
    width: 20%;
    height: 300px;
}

.top-middle {
    width: 50%;
    height: 300px;
    box-sizing: border-box;
    padding-left: 30px;
}

.middlebox {
    width: 70%;
    margin: auto;
}

.btn1 {
    background: #ff2b32;
    border: 0;
    color: white;
    width: 100px;
    height: 36px;
    border-radius: 4px;
    margin-top: 10px;
}

.btn2 {
    background: #594ab3;
    border: 0;
    color: white;
    width: 110px;
    height: 36px;
    border-radius: 4px;
    margin-left: 20px;
    margin-top: 10px;
}

.top-right {
    width: 30%;
    height: 300px;
}

.middle-font1 {
    font: 550 20px normal;
    margin-bottom: 10px;
}

.middle-font2 {
    font: 400 15px normal;
    margin-bottom: 10px;
}

.middle-font3 {
    font: 400 13px normal;
    margin: 0 0 10px 5px;
}

.hui {
    display: block;
    width: 4%;
    margin: 30PX;
}

.animalfont {
    font: 500 15px normal;
    margin-bottom: 20px;
}

.title {
    color: #007722;
    font-size: 20px;
    font-weight: 400;
    margin-left: 5%;
}

.top-left>img {
    width: 60%;
    float: right;
    display: block;
    box-shadow: 0 2px 4px 0 rgba(121, 146, 185, .54);
}

.middle {
    width: 90%;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    white-space: pre-wrap;
    letter-spacing: 1.1px;
}

.bottom {
    width: 90%;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    white-space: pre-wrap;
    letter-spacing: 1.1px;
}